# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
*.out
*.pyc
TAGS
\#*
.\#*
*.core

*.bam
*.bam.bai
.DS_Store

/data/
/external/
/output/
/bin/

/data
/external
/output
/bin
